@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&family=Noto+Sans:wght@300&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 50px 150px;
	min-height: 100vh;
	font-family: 'Noto Sans', sans-serif;
	color: #0b5884;
	font-size: 1.7rem;
	text-align: center;
	background-image: linear-gradient(10deg#ffffff, #dfe9f3);
}

h1 {
	color: #333;
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 4rem;
	color: #304352;
}

h3 {
	letter-spacing: 5px;
	font-size: 2rem;
	color: #4facfe;
	margin-top: 0;
}

ul {
	line-height: 2.5;
	text-align: left;
}

.fa-face-frown {
	color: rgb(115, 115, 115);
	font-size: 4rem;
}

.fa-face-smile {
	color: rgb(218, 162, 94);
	font-size: 4rem;
}

.moodSliderContainer {
	margin: 80px auto;
	width: 60%;
	display: flex;
}

input {
	margin: 30px 20px 0px 20px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #000;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: #000000;
	cursor: pointer;
}
